@charset "UTF-8";

@import "normalize/normalize.scss";
@import "bourbon/bourbon";
@import "neat/neat";

/* リセット */
li {
  list-style: none;
}

a {
  color: #444;
  text-decoration: none;
}

h1,h2,h3,p,ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcf9f0;
  color: #444;
  font-family: "メイリオ",sans-serif;
}

header,main,footer {
  width: 96%;
  max-width: 700px;
  margin: 0 auto;
}

// リンク色
$linkColor: #07a2a6;

/*
  ヘッダー
*/
.header-bar {
  @include clearfix;
  padding: rem(12) 0;
  h1 {
    float: left;
    font-size: rem(16);
    font-family: 'Ubuntu', sans-serif;
  }
}

.header-nav {
  float: right;
}

.header-list {
  @include clearfix;
  li {
    float: left;
    margin-left: rem(16);
    font-size: rem(14);
    font-family: 'Ubuntu', sans-serif;
    a {
      padding-bottom: rem(2);
      color: #999;
      &:hover,&:focus {
        border-bottom: 1px solid #999;
      }
    }
  }
}

.header-main {
  margin-top: rem(80);
  text-align: center;
  font-size: rem(18);
}

/*
  メイン
*/
.main {
  margin-top: rem(160);
}

.posts-lists {
  li {
    margin-top: rem(40);
    &:first-child {
      margin-top: 0;
    }
    .date {
      display: block;
      margin-bottom: rem(8);
      color: #999;
      font-size: rem(12);
      font-family: 'Ubuntu', sans-serif;
    }
    a {
      color: $linkColor;
      font-size: rem(24);
    }
  }
}

nav.pagination {
    text-align: center;
    margin-top: 80px;
    a {
      color: $linkColor;
    }
    .current-page {
      margin: 0 rem(16);
    }
}

.sns {
  margin-top: rem(80);
  .sns-btns {
    float: left;
    margin-right: 20px;
  }
  .fb_iframe_widget {
    top: -4px;
  }
}

.sns::after {
  content: "";
  clear: both;
  display: block;
}

/*
  フッター
*/
.footer {
  margin-top: rem(160);
  padding: rem(24) 0;
  border-top: 1px solid #ccc;
}

.other h2 {
  padding-left: rem(8);
  border-left: 1px solid #999;
  color: #999;
  font-size: rem(14);
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
}

.other-inner {
  margin-top: rem(40);
  &:first-child {
    margin-top: 0;
  }
  .ov {
    margin-top: rem(16);
    padding: 0 rem(8);
  }
  h3 {
    font-size: rem(16);
    font-weight: normal;
    a {
      color: $linkColor;
    }
  }
  p {
    margin-top: rem(8);
    font-size: rem(12);
  }
}

.copy {
  display: block;
  margin-top: rem(24);
  text-align: center;
}

/*
  記事ページ
*/
.entry-header {
  width: 100%;
  h1 {
    font-size: rem(28);
  }
  .post-date {
    display: block;
    margin-bottom: rem(8);
    color: #999;
    font-size: rem(12);
    font-family: 'Ubuntu', sans-serif;
  }
}

.post-content {
  margin-top: rem(80);
  h1 {
    font-size: rem(28);
    margin-bottom: rem(80);
    padding-left: rem(10);
    border-left: 5px solid #444;
  }
  h2 {
    margin: rem(40) 0;
    padding: rem(4) 0;
    font-size: rem(24);
  }
  h3 {
    margin: rem(40) 0;
    font-size: rem(18);
  }
  h4 {
    margin: rem(40) 0;
    font-size: rem(16);
  }
  h5 {
    margin: rem(40) 0;
    font-size: rem(16);
  }
  h6 {
    margin: rem(40) 0;
    font-size: rem(16);
  }

  p {
    margin: rem(20) 0;
    font-size: rem(16);
  }

  pre {
    padding: 1rem;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    background: #f8f8f8;
  }

  blockquote {
    display: block;
    position: relative;
    z-index: 1;
    width: 98%;
    margin: 0 auto;
    padding: rem(32);
    font-style: italic;
    font-size: rem(16);
    &::before {
      content: "“";
      font-size: 600%;
      line-height: 1em;
      font-family: 'ＭＳ Ｐゴシック',sans-serif;
      color: #ddd;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
  ul {
    padding-left: rem(40);
    li {
      list-style: disc;
    }
  }
  ol {
    padding-left: rem(40);
    li {
      list-style: decimal;
    }
  }
  dl {
    padding-left: rem(32);
    dd {
      margin-left: rem(16);
      margin-bottom: rem(16);
    }
  }

  a {
    color: $linkColor;
  }

}
