.c-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8px;
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
  }
  &__item {
    margin: 16px 8px 0;
  }
  &__icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
}
