{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <div>
      <div class="c-time">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      {{ range .Params.tags }}
      <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
      {{ end }}
    </div>
  </header>
  <section>
    {{ .Content }}
  </section>
  <footer>
    {{ with .Site.Params.disqus }}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ . }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    <nav class="c-pagination">
      <div class="c-pagination__ctrl">
        {{ if .Next }}
        <a href="{{ .Next.Permalink }}">Older</a>
        {{ else }}
        <a href="#">Older</a>
        {{ end }}
        {{ if .Prev }}
        <a href="{{ .Prev.Permalink }}">Newer</a>
        {{ else }}
        <a href="#">Newer</a>
        {{ end }}
      </div>
    </nav>
    {{ partial "siteinfo.html" . }}
  </footer>
</article>

{{ partial "footer.html" . }}
