  </main>
  <footer class="l-footer">
    {{ partial "link.html" . }}

    <p class="p-copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        {{ if .Site.Params.author }}
          {{ if .Site.Params.authorwebsite }}
            <a href="{{ .Site.Params.authorwebsite }}">{{ .Site.Params.author }}</a>
          {{ else }}
            {{ .Site.Params.author }}
          {{ end }}
        {{ end }}
        &nbsp;&bull;&nbsp;
        {{ .Site.LastChange.Format "2006" }}

        {{ if .Site.Title }}
          &nbsp;&bull;&nbsp;
          <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
        {{ end }}
      {{ end }}
    </p>
  </footer>

  {{ template "_internal/google_analytics_async.html" . }}

  {{- partial "footer_custom.html" . }}
</body>
</html>
