<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
  {{ partial "svgpack-sprite.html" . }}
  <header class="l-header">
    {{ if .IsPage }}
    <p class="c-title title"><a href="{{ .Site.BaseURL }}" class="title__link">{{ .Site.Title }}</a></p>
    {{ else }}
    <h1 class="c-title title"><a href="{{ .Site.BaseURL }}" class="title__link">{{ .Site.Title }}</a></h1>
    {{ end }}
    {{ with .Site.Params.subtitle }}
    <p class="subtitle">
      {{ . }}
    </p>
    {{ end }}
  </header>
  <main class="l-main">
