<ul>
  {{ with .Site.Params.contact }}
  <li>
    <a href="{{ . }}">
    コンタクト
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.twitter }}
  <li>
    <a href="https://twitter.com/{{ . }}" target="_blank">
      twitter
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.instagram }}
  <li>
    <a href="https://instagram.com/{{ . }}" target="_blank">
      instagram
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.googleplus }}
  <li>
    <a href="https://plus.google.com/+{{ . }}" target="_blank">
      googleplus
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.facebook }}
  <li>
    <a href="https://facebook.com/{{ . }}" target="_blank">
      facebook
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.github }}
  <li>
    <a href="https://github.com/{{ . }}" target="_blank">
      github
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.linkedin }}
  <li>
    <a href="https://linkedin.com/in/{{ . }}" target="_blank">
      linkedin
    </a>
  </li>
  {{ end }}
</ul>
