<div>
  {{ with .Site.Params.contact }}
  <a href="{{ . }}">
    <i class="fa fa-envelope"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.twitter }}
  <a href="https://twitter.com/{{ . }}" target="_blank">
    twitter
  </a>
  {{ end }}
  {{ with .Site.Params.instagram }}
  <a href="https://instagram.com/{{ . }}" target="_blank">
    instagram
  </a>
  {{ end }}
  {{ with .Site.Params.googleplus }}
  <a href="https://plus.google.com/+{{ . }}" target="_blank">
    googleplus
  </a>
  {{ end }}
  {{ with .Site.Params.facebook }}
  <a href="https://facebook.com/{{ . }}" target="_blank">
    facebook
  </a>
  {{ end }}
  {{ with .Site.Params.github }}
  <a href="https://github.com/{{ . }}" target="_blank">
    github
  </a>
  {{ end }}
  {{ with .Site.Params.linkedin }}
  <a href="https://linkedin.com/in/{{ . }}" target="_blank">
    linkedin
  </a>
  {{ end }}
</div>
