{{ if or ( $.Param "avatar" ) ( $.Param "author" ) ( $.Param "bio" ) ( $.Param "contact" ) }}
<aside class="p-author">
  {{ with ($.Param "avatar") }}
  <div class="c-avatar p-author__avatar">
    <img alt="Author Avatar" src="{{ . }}" />
  </div>
  {{ end }}
  {{ if or ( $.Param "author" ) ( $.Param "bio" ) ( $.Param "contact" ) }}
  <div class="p-author__body">
    {{ with ($.Param "author") }}
    <p class="c-title p-author__name ">{{ . }}</p>
    {{ end }}
    {{ with ($.Param "bio") }}
    <p>{{ . }}</p>
    {{ end }}
    {{ with ($.Param "contact") }}
    <p>
      <a href="{{ . }}">
        Contact me
      </a>
    </p>
    {{ end }}
  </div>
  {{ end }}
</aside>
{{ end }}
