@use '../../foundation/variable/color.scss' as color;
@use "../../foundation/variable/font-family.scss" as fontFamily;

.p-subtitle {
  margin: 12px 0 0 0;
  color: color.$color-text;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: fontFamily.$OpenSans;
}
